.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 1;
    margin: 10px;
    padding: 2px;
    width: 100%;
    min-height: 400px;
    min-width: 100px;
    background-color: white;
    transition: transform .3s; 
}
.product:hover{
    transform: scale(1.04);
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product_info{
    margin-bottom: 2px;
}

.product > .product_rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
